.Lecturer-View {
  font-family: "Exo", sans-serif;
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;

  .Lecturer-Screen {
    display: flex;
    flex-direction: column;
    background-color: #252d4a;
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    justify-content: space-evenly;
    align-items: center;

    .score-section {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      align-items: center;

      .score {
        margin-bottom: 10px;
      }

      .cancel-btn {
        background: #7cc6fe; /* fallback for old browsers */
        border: none;
        width: 150px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 8px;

        a {
          color: white;
          font-size: 22px;
        }
      }
    }

    /* QUESTION/TIMER/LEFT SECTION */
    .question-section {
      width: 100%;
      position: relative;
    }

    .question-count {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 30px;
        width: 44px;
        border: 2px solid #7cc6fe;
        border-radius: 20px;
        text-align: center;
      }

      span {
        font-size: 28px;
      }
    }

    .question-text {
      margin-bottom: 12px;
    }
  }
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }

  .correct {
    background-color: #2f922f;
  }

  .incorrect {
    background-color: #ff3333;
  }

  button:hover {
    background-color: #555e7d;
  }

  button:focus {
    outline: none;
  }

  button svg {
    margin-right: 5px;
  }

  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }

  .modal-footer {
    a {
      color: #ffffff;
    }
  }
}
